
body {
    background-color: #fff5cc;
    padding: 0;
    margin: 0;
    
}

.card-effect{
    position: relative;
    height:440px;
    width: 350px;
    padding: 20px;
    background-color: #FFF;
    border-radius: 20px;
    margin: 20px;
   
    box-shadow: 0px 10px 8px #999;
    
}
.card-effect:hover{
    transform: scale(0.99);
}
.main-container{
    display: flex;
    padding: 5px;
    justify-content: space-around;
    flex-wrap: wrap;

}

.card-img-strcture{
    width: 300px;
    height: 200px;
    display: block;
    margin: 5px auto;
    filter: drop-shadow(0px 0px 2px #9595b7);
    border-radius: 20px;
}

.card-title-name{
    text-align: center;
    color: black;
    font-size: 20px;
    margin-bottom: 5px;
    font-family: cursive;
    margin-top: 5px;

}
.button-description{
    background-color: orangered;
    color: #FFF;
    position: relative;;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    margin-left: 120px;
    display: block;
    width: 120px;
    height: 40px;
    margin-top: 3px;
}
.button-description:hover{
    cursor: pointer;
    filter: drop-shadow(0px 0px 2px );
    border-radius: 20px;
    transition: 0.5s;
    
}
.card-light{
    text-align: right;
    color:tomato;
    margin-top: 10px;
    font-size: 20px;
    font-family: cursive;
}
.price-items{
    font-size: 20px;
    margin-left: 100px;
    margin-right: auto;
    font-weight: bold;
    margin-top: 5px;
}
.price-rate{
    display: inline-flex;
    
}
.del-price{
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    
}
.navbar-img{
 
align-items: center;
flex-wrap: wrap;
display: block;
}
.biryani-img{
background-image: url("./../../images/biryani/biryani\ thali.jpg");
height: 480px;
width:100vw;
background-size: cover ;
background-repeat: no-repeat;
margin-bottom: 0;
display: inline-flex;

}