.gallery-navbar-title{
    color: tomato;
    padding: 10px;
    font-family: cursive;
    font-weight: bold;
    font-size: 40px;
    margin-top: 5px;
}
.gallery-navbar{
    background-image: url("/images/navbarGallery.png");
    height: 500px;
    width: 100vw;
    background-size: cover;
    /* background-repeat: no-repeat; */
    display: inline-flex;
    margin-top: 0px;
}

body {
    background-color: #fff5cc;
}

.gallery-card{
    position: relative;
    height:320px;
    width: 330px;
    padding: 20px;
    background-color: #FFF;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0px 10px 8px #999;
}
.card:hover{
    transform: scale(0.99);
}
.main-container{
    display: flex;
    padding: 20px;
    justify-content: space-around;
    flex-wrap: wrap;

}

.card-img {
    width: 300px;
    height: 200px;
    display: block;
    margin: 5px auto;
    filter: drop-shadow(0px 0px 2px #9595b7);
    border-radius: 20px;
}

.card-title {
    text-align: center;
    color: black;
    font-size: 35px;
    margin-bottom: 5px;
    font-family: cursive;
    margin-top: 5px;

}
.btn-description{
    background-color:#009900;
    color: #FFF;
    position:absolute;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}
.btn-description:hover{
    cursor: pointer;
    filter: drop-shadow(0px 0px 2px );
    border-radius: 20px;
    width: 80px;
    transition: 0.5s;
    
}
.card-des{
    text-align: right;
    color:tomato;
    margin-top: 10px;
    font-size: 20px;
    font-family: cursive;
}
.header-title{
    text-align: center;
    font-family: cursive;
    font-size: 40px;
    margin-bottom: 0px;
    color: tomato;
    margin-top: 5px;
}
@media only screen and (max-width:600px){
    .title {
        padding: 10px;
        font-family: cursive;
        font-weight: bold;
        margin-top: 5px;
    }
    .gallery-card{
        position: relative;
        padding: 20px;
        background-color: #FFF;
        margin: 20px;}

}
.footer{
    background:#fff3e6;
    padding:30px 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:#3b2612;
    font-size:20px;
    }
    
    .footer .row a{
    text-decoration:none;
    color:#000;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#3b2612;
    }
    
    .footer .row ul{
    width:100%;
    font-size:16px;
    font-weight:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:28px;
    margin:0% 1%;
    font-weight:100%;
    color:#cc7a00;
    }