
.abc{
    background-color:white;
    color:orange;
    color:#3b2612;
    }
    body{
    padding:0px;
    margin:0px;
    background-color: #fff;
    }
    .navbar{
    color:#000;
    height:700px;
    width:100%;
    background-color: #fff3e6;
    }
    .hotel-logo-image{
    height:50px;
    width:50px;
    margin-left:80px;
    padding:7px;
    border-radius:20px;
    border:double 7px white;
    background-color:orange;
    margin-top:20px;
    }
    .navbar-brand-name{
        margin-top:0px;
    }
    .hotel-name{
     color:#3b2612;
     margin-bottom:70px;
     margin-left:40px;
     font-size:80px;
     font-weight:bold;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .navbar-menu-container{
    margin-left:550px;
    padding:20px;
    text-decoration: none;
    text-decoration: none;
    margin-top:-600px;
    }
    .navbar-menu{
    padding:20px;
    text-decoration: none;
    font-size:20px;
    color:#3b2612;
    width:20px;
    height:10px;
    }
    .navbar-menu:hover{
    width:20px;
    height:10px;
    border-radius:10px;
    background-color:#fff;
    color:#000;
    padding:10px;
    margin:5px;
    cursor:pointer;
    }
    .background-image{
    height:500px;
    width:500px;
    margin-left:750px;
    margin-top:20px;
    box-shadow:0 0 20px #9595b7;
    }  
    .description{
     margin-top:90px;
     padding:20px;
    }
    .header-description{
    padding:80px;
    text-align:center;
    font-size:45px;
    margin-left:80px;
    margin-top:50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#3b2612;
    }  
    .header-description2{
    font-size:20px;
    margin-left:160px;
    color:#000;
    }
    .btn{
    margin-left:180px;
    background-color:orange;
    color:#fff;
    border-radius:30px;
    font-size:20px;
    padding:10px;
    border-color:orange;
    box-shadow:0 0 15px #9595b7;
    
    }
    .btn:hover{
    background-color:orange;
    color:#fff;
    font-size:16px;
    transition:0.4s;
    }
    .navbar2{
    background-color:orange;
    width:100%;
    text-decoration: none;
    height:120px;
    }
    .food-description1{
    text-align:center;
    font-size:40px;
    color:#3b2612;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    }
    .header-description3{
    font-size:20px;
    text-align:center;
    margin-left:10px;
    }
    .order-now-btn{
        border-radius:20px;
        border:none;
        text-decoration: none;
        background-color:white;
        padding: 5px 50px;
        color:orange;
        font-size:18px;
        font-weight:bold;
        margin-top:10px;
        cursor:pointer;
        display:block;
        margin-left:auto;
        margin-right:auto;
        border:2px solid black;
    }
    .order-now-btn:hover{
        background-color:#cc7a00;
        color:white;
        box-shadow: 0 0 5px 5px #9595b7;
        transition:0.5s;
    }
    .food-container{
        display:flex;
        flex-wrap:wrap;
        justify-content:space-around;
        margin-top:50px;
        text-decoration: none;
    
    }
    .food-card-image{
        height:150px;
        width:150px;
        padding:3px;
        display:block;
        margin:5px auto;
        filter:drop-shadow(0 0 10px #9595b7);
    
    }
    .food-card{
    background-color:#ffb84d;
    text-decoration: none;
        width:250px;
        height:300px;
        padding:40px 20px;
        margin:20px;
        border-radius:10px;
        box-shadow:0 0 10px rgba(0,0,0,0.2);
    }
    .food-title-card{
        font-size:30px;
        color:#3b2612;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align:center;
    }
    .food-card-price{
        font-size:20px;
        color:#3b2612;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align:center;
        margin-top:-20px;
    }
    .food-title-card1{
        font-size:30px;
        color:#3b2612;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align:center;
        margin-top:-10px;
    }
    .food-offer-image{
        height:350px;
        width:350px;
        border-radius:20px;
        padding:20px;
        margin:20px;
       
    }
    .offer-image{
        display:flex;
        flex-wrap:wrap;
        justify-content:space-around;
        margin-top:50px;
    }
    .food-description2{
        text-align:center;
    font-size:30px;
    color:#3b2612;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    }
    .header-description4{
    font-size:24px;
    margin-left:100px;
    color:#3b2612;
    text-align:center;
    }
    
    .footer{
        background:#fff3e6;
        padding:30px 0px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align:center;
        }
        
        .footer .row{
        width:100%;
        margin:1% 0%;
        padding:0.6% 0%;
        color:#3b2612;
        font-size:20px;
        }
        
        .footer .row a{
        text-decoration:none;
        color:#000;
        transition:0.5s;
        }
        
        .footer .row a:hover{
        color:#3b2612;
        }
        
        .footer .row ul{
        width:100%;
        font-size:16px;
        font-weight:100%;
        }
        
        .footer .row ul li{
        display:inline-block;
        margin:0px 30px;
        }
        
        .footer .row a i{
        font-size:28px;
        margin:0% 1%;
        font-weight:100%;
        color:#cc7a00;
        }
        
        
        @media (max-width:720px){
        .footer{
        text-align:left;
        padding:5%;
        }
        .footer .row ul li{
        display:block;
        margin:10px 0px;
        text-align:left;
        }
        .footer .row a i{
        margin:0% 3%;
        }
        }
    @media only screen and (min-width:0px) and (max-width: 600px){
        .navbar-menu-container{
            margin-left:40px;
        }
        .navbar{
            flex-direction: column;
        }
        .navbar{
            display:block;
            margin:10px;
            width:100%;
            text-align: center;
        }
        .background-image{
        width:200px;
        }
        .header-description{
        font-size: 28px;
    }
    .header-description2{
        font-size:14px;
    
    }
    .btn{
        font-size:18px;
        padding:10px;
    }
    .food-card{
        margin-top:80px;
    }
    .offer-card{
        margin-top:80px;
    }
        
    }
    
    @media only screen and (min-width:601px) and (max-width:800px){
        .navbar-menu-container{
            margin-left:auto;
            margin-right:auto;
            margin-top:20px;
            width:100%
        }
        .food-card{
            margin-top:80px;
        }
        .offer-card{
            margin-top:80px;
        }
        .background-image{
            margin-left:500px;
            height:300px;
            width:300px;
        }
    }
    @media only screen and (min-width:801px) and (max-width:1400px){
        .food-card{
            margin-top:80px;
        }
        .offer-card{
            margin-top:80px;
        }
    }