body {
    background-color: #f1f1db;
}

.category-title {
    text-align: center;
    font-size: 100px;
    color: orange;
    /* margin: auto; */
    text-shadow: 2px 5px 5px blue ;
}

.parent {
    /* border: 1px solid ; */
    margin-top: 50px;
    display: flex;
    margin-left: 100px;

}
@media screen and (max-width:300px) {
    .parent{
        margin-top:30px ;
        margin-left: 20px;
        margin: 0px;
        padding: 5px;
    }
    
}

.card {
    /* position: relative; */
    height:420px;
    width: 350px;
    padding: 20px;
    background-color: #FFF;
    border-radius: 20px;
    margin: 20px;
   
    box-shadow: 0px 10px 8px #999;

}
@media screen and (max-width:300px) {
    .card{
        height: 500px;
        width: 200px;
        background-color: whitesmoke;
        margin-left: 20px;
        margin: 0px;
        padding: 10px;
    }
    
}

.card:hover {
    box-shadow: 2px 10px 10px gray;
}

.item-img {
    height: 150px;
    width: 200px;
    display: block;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
}


.item-img:hover {
    height: 160px;
}

.desc {
    text-align: center;
}
@media screen and (max-width:300px) {
    .desc {
    text-align: center;
    font-size: 10px;
    margin-top: 20px;
}
    
}

.item-title {
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
}
@media screen and (max-width:300px) {
    .item-title {
    text-align: center;
    font-size: 20px;
    margin-top: 0px;
    
}
}

.item-price {
    margin-left: 80px;
    font-size: 20px;
    /* margin-top: -10px; */
}
@media screen and (max-width:300px) {
    .item-price {
    margin: 0px;
    padding: 2px;
    margin-bottom: 1px;
}
    
}

.order-btn {
background-color: orangered;
color: #FFF;
position: relative;;
font-size: 20px;
text-align: center;
text-decoration: none;
border-radius: 20px;
margin-left: 100px;
display: block;
width: 120px;
height: 40px;
margin-top: 3px;
}
@media screen and (max-width:300px) {
    .order-btn {
   margin: 0px;

}
    
}

.order-btn:hover {
    height: 35px;
    width: 105px;
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: 17px;
    transition-delay: 0.2s;
    box-shadow: 2px 3px 3px gray;
}
.maharashtrian-img{
    background-image: url("/images/maharashtrian-spl-bg.png");
    height: 480px;
    width:100vw;
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: start;
    margin-bottom: 0;
    display: inline-flex;
    
    }
    .gujrati-img{
        background-image: url("/images/gujrati-spl-img.jpg");
        height: 480px;
        width:100vw;
        text-shadow: 2px 5px 5px blue;
        background-size: cover ;
        background-repeat: no-repeat;
        background-position: start;
        margin-bottom: 0;
        display: inline-flex;
    }
    .punjabi-img{
        background-image: url("/images/punjabi-spl-img.jpg");
        height: 480px;
        width:100vw;
        text-shadow: 2px 5px 5px blue;
        background-size: cover ;
        background-repeat: no-repeat;
        background-position: start;
        margin-bottom: 0;
        display: inline-flex;
    }
    .southIndian-img{
        background-image: url("/images/southIndian-spl-img.jpg");
        height: 480px;
        width:100vw;
        text-shadow: 2px 5px 5px blue;
        background-size: cover ;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 0;
        display: inline-flex;

    }
    .footer{
        background:#fff3e6;
        padding:30px 0px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align:center;
        }
        
        .footer .row{
        width:100%;
        margin:1% 0%;
        padding:0.6% 0%;
        color:#3b2612;
        font-size:20px;
        }
        
        .footer .row a{
        text-decoration:none;
        color:#000;
        transition:0.5s;
        }
        
        .footer .row a:hover{
        color:#3b2612;
        }
        
        .footer .row ul{
        width:100%;
        font-size:16px;
        font-weight:100%;
        }
        
        .footer .row ul li{
        display:inline-block;
        margin:0px 30px;
        }
        
        .footer .row a i{
        font-size:28px;
        margin:0% 1%;
        font-weight:100%;
        color:#cc7a00;
        }
        