.food-image{
    height: 380px;
    width: 280px;
    padding: 30px;
    margin-left: 400px;
}
.enter-text{
    font-size: 20px;
    color: #ff6600;
    padding: 15px;margin: 10px;
    text-align: center;
    color: #ff6600;
    border-radius: 10px;
}
.login-button{
    height: 40px;
    width: 70px;
    font-size: 20px;
    background-color:#ff6600 ;
    color: bisque;
    border-radius:50px ;
    margin: auto;
   border-color: black;
   margin-left: 125px;
}
.heading{
    font-size: 50px;
    text-align: center;
    color:#ff6600;
}
.login{
font-size: 40px;
text-align: center;
color:#ff6600 ;
}  
.enter-info{
    text-align:center;
}   
.form-container{
    display: flex;
flex-wrap: wrap;
background-color:bisque;
width: 330px;
padding: 20px;
margin-left: 700px;
margin-top: -415px;
}  
.form-container:hover{
    box-shadow: rgb(168, 166, 166);

} 
.footer{
    background:#fff3e6;
    padding:30px 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:#3b2612;
    font-size:20px;
    }
    
    .footer .row a{
    text-decoration:none;
    color:#000;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#3b2612;
    }
    
    .footer .row ul{
    width:100%;
    font-size:16px;
    font-weight:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:28px;
    margin:0% 1%;
    font-weight:100%;
    color:#cc7a00;
    }

    .home-icon{
        font-size: 25px;
    }
    @media only screen and (max-width:600px){
        .food-image{
            height: 300px;
            width: 200px;
            padding-top: 30px;
            margin-left: 0px;
            margin-bottom:25px;
        }
            .enter-text{
            font-size: 10px;
            width: 140px;
            color: #ff6600;
            padding: 15px;
            margin: 10px;
            text-align: center;
            color: #ff6600;
            margin-left: 230px;
            border-radius: 10px;
        }
        .form-container{
            display: flex;
            flex-wrap: wrap;
            background-color:bisque;
            height: 300px;
            width: 420px;
            padding: 20px;
            margin-left: 0px;
            margin-top: -380px;
            margin-bottom: 40px;
            border-radius: 5px;
            }
        .login-button{
            height: 40px;
            width: 70px;
            font-size: 20px;
            background-color:#ff6600 ;
            color: bisque;
            border-radius: 50px;
            margin: auto;
            border-color: black;
            margin-left: 290px;
        }
        .footer{
            width: 100%;
        }
    }

