<style>
.abc{
background-color:white;
primary-color:orange;
}
body{
padding:0px;
margin:0px;
background-color: #fff;
}
.navbar{
color:#000;
height:700px;
width:100%;
background-color: #fff3e6;
}
.hotel-logo-image{
height:50px;
width:50px;
margin-left:80px;
padding:7px;
border-radius:20px;
border:double 7px white;
background-color:orange;
margin-top:20px;
}
.navbar-brand-name{
    margin-top:0px;
}
.hotel-name{
 color:#3b2612;
 margin-bottom:70px;
 margin-left:40px;
 font-size:80px;
 font-weight:bold;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar-menu-container{
margin-left:750px;
padding:20px;
margin-top:-600px;
}
.navbar-menu{
padding:20px;

font-size:20px;
color:#3b2612;
width:20px;
height:10px;
}
.navbar-menu:hover{
width:20px;
height:10px;
border-radius:10px;
background-color:#fff;
color:#000;
padding:10px;
margin:5px;
cursor:pointer;
}
.background-image{
height:500px;
width:500px;
margin-left:830px;
margin-top:20px;
box-shadow:0 0 20px #9595b7;
}  
.description{
 margin-top:90px;
 padding:20px;
}
.header-description{
padding:80px;
text-align:center;
font-size:45px;
margin-left:80px;
margin-top:50px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color:#3b2612;
}  
.header-description2{
font-size:20px;
margin-left:160px;
color:#000;
}
.btn{
margin-left:180px;
background-color:orange;
color:#fff;
border-radius:30px;
font-size:20px;
padding:10px;
border-color:orange;
box-shadow:0 0 15px #9595b7;

}
.btn:hover{
background-color:orange;
color:#fff;
font-size:16px;
transition:0.4s;
}
.navbar2{
background-color:orange;
width:100%;
height:120px;
}
.food-description1{
text-align:center;
font-size:40px;
color:#3b2612;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight:bold;
}
.header-description3{
font-size:20px;
text-align:center;
margin-left:10px;
}
.order-now-btn{
    border-radius:20px;
    border:none;
    background-color:white;
    padding: 5px 50px;
    color:orange;
    font-size:18px;
    font-weight:bold;
    margin-top:10px;
    cursor:pointer;
    display:block;
    margin-left:auto;
    margin-right:auto;
    border:2px solid black;
}
.order-now-btn:hover{
    background-color:#cc7a00;
    color:white;
    box-shadow: 0 0 5px 5px #9595b7;
    transition:0.5s;
}
.food-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    margin-top:50px;

}
.food-card-image{
    height:150px;
    width:150px;
    padding:3px;
    display:block;
    margin:5px auto;
    filter:drop-shadow(0 0 10px #9595b7);

}
.food-card{
background-color:#ffb84d;
    width:250px;
    height:300px;
    padding:40px 20px;
    margin:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}
.food-title-card{
    font-size:30px;
    color:#3b2612;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
}
.food-card-price{
    font-size:20px;
    color:#3b2612;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
    margin-top:-20px;
}
.food-title-card1{
    font-size:30px;
    color:#3b2612;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
    margin-top:-10px;
}
